<!--<p>-->
  <!--user-item works!-->
<!--</p>-->

<p>Well done {{name}} ! You rock :) </p>

<input [value]="name"><br>
<label><input type="checkbox" [value]="deactivated" (change)="deactivated = !deactivated"> Activate button ?</label><br>
<button [disabled]="deactivated" (click)="onClick($event)">Click Me !!!</button>

<ul [hidden]="hideTweet">
  <li *ngFor="let tweet of tweets">
    {{tweet | json}}
  </li>
  <li *ngFor="let tweet of tweets">
    {{tweet.date | date}} - {{tweet.text}}
  </li>
</ul>
